@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?za50ky');
  src:  url('fonts/icomoon.eot?za50ky#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?za50ky') format('truetype'),
    url('fonts/icomoon.woff?za50ky') format('woff'),
    url('fonts/icomoon.svg?za50ky#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sa-trigger-call-msg:before {
  content: "\e9e1";
}
.icon-sa-headset:before {
  content: "\e9e0";
}
.icon-sa-widget:before {
  content: "\e9df";
}
.icon-communityWFM:before {
  content: "\e9de";
}
.icon-sa-dashboard-clear:before {
  content: "\e9db";
}
.icon-sa-dashboard-agents:before {
  content: "\e9dc";
}
.icon-sa-dashboard-user:before {
  content: "\e9dd";
}
.icon-sa-summery-chart:before {
  content: "\e9da";
}
.icon-sa-drag-drop:before {
  content: "\e9d9";
}
.icon-transfer-defination:before {
  content: "\e9d8";
}
.icon-sa-dashboard-down-arrow:before {
  content: "\e9ce";
}
.icon-sa-dashboard-chat:before {
  content: "\e9cf";
}
.icon-sa-dashboard-chart-table:before {
  content: "\e9d0";
}
.icon-sa-dashboard-call:before {
  content: "\e9d1";
}
.icon-sa-dashboard-bubble-chart:before {
  content: "\e9d2";
}
.icon-sa-dashboard-up-arrow:before {
  content: "\e9d3";
}
.icon-sa-dashboard-negtive-up:before {
  content: "\e9d4";
}
.icon-sa-dashboard-negtive-down:before {
  content: "\e9d5";
}
.icon-sa-dashboard-mail:before {
  content: "\e9d6";
}
.icon-sa-dashboard-list-view:before {
  content: "\e9d7";
}
.icon-sa-monitor-help:before {
  content: "\e9cc";
}
.icon-sa-handle-interactions:before {
  content: "\e9cd";
}
.icon-sa-agent-group:before {
  content: "\e9cb";
}
.icon-sa-triggers:before {
  content: "\e9ca";
}
.icon-sa-advanced-settings:before {
  content: "\e9c8";
}
.icon-sa-co-browser:before {
  content: "\e9c9";
}
.icon-sa-web:before {
  content: "\e9c7";
}
.icon-sa-wifi-off:before {
  content: "\e9c6";
}
.icon-sa-idle:before {
  content: "\e9c0";
}
.icon-sa-expiry:before {
  content: "\e9c1";
}
.icon-sa-due:before {
  content: "\e9c2";
}
.icon-sa-overdue:before {
  content: "\e9c3";
}
.icon-sa-onconnect:before {
  content: "\e9c4";
}
.icon-sa-multiintent:before {
  content: "\e9c5";
}
.icon-sa-chat-message:before {
  content: "\e9bf";
}
.icon-sa-interuptions:before {
  content: "\e9be";
}
.icon-sa-overview:before {
  content: "\e9b8";
}
.icon-sa-containment:before {
  content: "\e9bd";
}
.icon-sa-agent-transfer-menu:before {
  content: "\e9bb";
}
.icon-sa-language-speech:before {
  content: "\e9bc";
}
.icon-sa-star-fill:before {
  content: "\e9b9";
}
.icon-sa-star:before {
  content: "\e9ba";
}.icon-sa-api-scope:before {
  content: "\e9b1";
}
.icon-sa-app-lang:before {
  content: "\e9b2";
}
.icon-sa-default-group:before {
  content: "\e9b3";
}
.icon-sa-logout:before {
  content: "\e9b4";
}
.icon-sa-no-skills:before {
  content: "\e9b5";
}
.icon-sa-password:before {
  content: "\e9b6";
}
.icon-sa-platform:before {
  content: "\e9b7";
}
.icon-sa-setup:before {
  content: "\e9b8";
}
.icon-sa-edit-pencil:before {
  content: "\e9b0";
}
.icon-sa-set-queue:before {
  content: "\e9a4";
}
.icon-sa-topic-guide-book:before {
  content: "\e9af";
}
.icon-sa-agent-transfer:before {
  content: "\e9ae";
}
.icon-sa-business-hours:before {
  content: "\e9ac";
}
.icon-sa-agent-availability:before {
  content: "\e9ad";
}
.icon-sa-ext:before {
  content: "\e9a2";
}
.icon-sa-getstarted:before {
  content: "\e9a3";
}
.icon-sa-setup:before {
  content: "\e9a4";
}
.icon-sa-vd-play:before {
  content: "\e9a5";
}
.icon-sa-video-playlist:before {
  content: "\e9a6";
}
.icon-sa-academy:before {
  content: "\e9a7";
}
.icon-sa-advanced:before {
  content: "\e9a8";
}
.icon-sa-community:before {
  content: "\e9a9";
}
.icon-sa-contact-center:before {
  content: "\e9aa";
}
.icon-sa-doc:before {
  content: "\e9ab";
}
.icon-sa-topic-guide:before {
  content: "\e99f";
}
.icon-sa-new-agent:before {
  content: "\e99d";
}
.icon-sa-new-agent-group:before {
  content: "\e99e";
}
.icon-sa-queue-agents:before {
  content: "\e9a1";
}
.icon-sa-regenarate:before {
  content: "\e99c";
}
.icon-filter-new:before {
  content: "\e9a0";
}
.icon-sa-queue-agents:before {
  content: "\e9a1";
}
.icon-sa-regenarate:before {
  content: "\e99c";
}
.icon-filter-new:before {
  content: "\e9a0";
}
.icon-sa-date-time:before {
  content: "\e998";
}
.icon-sa-workspaces-gray:before {
  content: "\e99a";
}
.icon-sa-calendar-date:before {
  content: "\e99b";
}
.icon-sa-skill:before {
  content: "\e993";
}
.icon-sa-user:before {
  content: "\e994";
}
.icon-sa-voice-disabled:before {
  content: "\e995";
}
.icon-sa-voice-enabled:before {
  content: "\e996";
}
.icon-sa-agent-call:before {
  content: "\e997";
}
.icon-sa-person-circle:before {
  content: "\e999";
}
.icon-sa-filter-hambergar:before {
  content: "\e985";
}
.icon-sa-csv:before {
  content: "\e986";
}
.icon-sa-pdf:before {
  content: "\e987";
}
.icon-sa-action-play:before {
  content: "\e988";
}
.icon-sa-status-clock .path1:before {
  content: "\e989";
  color: rgb(231, 240, 255);
}
.icon-sa-status-clock .path2:before {
  content: "\e98a";
  margin-left: -1.0380859375em;
  color: rgb(7, 55, 127);
}
.icon-sa-status-clock .path3:before {
  content: "\e98b";
  margin-left: -1.0380859375em;
  color: rgb(7, 55, 127);
}
.icon-sa-succss .path1:before {
  content: "\e98c";
  color: rgb(84, 236, 2);
}
.icon-sa-succss .path2:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sa-delete-minus:before {
  content: "\e98e";
}
.icon-sa-add:before {
  content: "\e98f";
}
.icon-sa-analyze-report:before {
  content: "\e990";
}
.icon-sa-clone-new:before {
  content: "\e991";
}
.icon-sa-view-history:before {
  content: "\e992";
}
.icon-sa-didgital-forms:before {
  content: "\e982";
}
.icon-sa-survey-new:before {
  content: "\e983";
}
.icon-sa-dispositions:before {
  content: "\e984";
}
.icon-sa-thumbdown:before {
  content: "\e980";
}
.icon-sa-thumbup:before {
  content: "\e981";
}
.icon-sa-call-inactive:before {
  content: "\e95a";
}
.icon-sa-carrot-up-comp:before {
  content: "\e95b";
}
.icon-sa-chat-inactive:before {
  content: "\e95c";
}
.icon-sa-chat-settings:before {
  content: "\e95d";
}
.icon-sa-check-blue:before {
  content: "\e95e";
}
.icon-sa-chevron-left-dark:before {
  content: "\e95f";
}
.icon-sa-chevron-right-dark:before {
  content: "\e960";
}
.icon-sa-comment-inactive:before {
  content: "\e961";
}
.icon-sa-copy:before {
  content: "\e962";
}
.icon-sa-download-img:before {
  content: "\e963";
}
.icon-sa-edit-black:before {
  content: "\e964";
}
.icon-sa-email-black:before {
  content: "\e965";
}
.icon-sa-external-link:before {
  content: "\e966";
}
.icon-sa-ext-link:before {
  content: "\e967";
}
.icon-sa-failed .path1:before {
  content: "\e968";
  color: rgb(255, 0, 31);
}
.icon-sa-failed .path2:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sa-filterBy:before {
  content: "\e96a";
}
.icon-sa-globalVariable:before {
  content: "\e96b";
}
.icon-sa-groupBy:before {
  content: "\e96c";
}
.icon-sa-infoIcon:before {
  content: "\e96d";
}
.icon-sa-move-left .path1:before {
  content: "\e96e";
  color: rgb(216, 216, 216);
  opacity: 0.0100;
}
.icon-sa-move-left .path2:before {
  content: "\e96f";
  margin-left: -1.0625em;
  color: rgb(38, 52, 74);
}
.icon-sa-move-right .path1:before {
  content: "\e970";
  color: rgb(216, 216, 216);
  opacity: 0.0100;
}
.icon-sa-move-right .path2:before {
  content: "\e971";
  margin-left: -1.0625em;
  color: rgb(38, 52, 74);
}
.icon-sa-override:before {
  content: "\e972";
}
.icon-sa-return-green:before {
  content: "\e973";
}
.icon-sa-right-arrow:before {
  content: "\e974";
}
.icon-sa-script:before {
  content: "\e975";
}
.icon-sa-share:before {
  content: "\e976";
}
.icon-sa-sort-up:before {
  content: "\e977";
}
.icon-sa-spinner:before {
  content: "\e978";
}
.icon-sa-tip-bulb:before {
  content: "\e979";
}
.icon-sa-update-bot:before {
  content: "\e97a";
}
.icon-sort-down:before {
  content: "\e97b";
}
.icon-sort-table:before {
  content: "\e97c";
}
.icon-sa-action:before {
  content: "\e97d";
}
.icon-sa-arrow-chevron:before {
  content: "\e97e";
}
.icon-sa-bulb-blue:before {
  content: "\e97f";
}
.icon-sa-calendar:before {
  content: "\e959";
}
.icon-sa-plus:before {
  content: "\e958";
}
.icon-sa-notification:before {
  content: "\e954";
}
.icon-sa-refresh:before {
  content: "\e955";
}
.icon-sa-support-icon:before {
  content: "\e956";
}
.icon-sa-currency:before {
  content: "\e957";
}
.icon-sa-agents:before {
  content: "\e94b";
}
.icon-sa-queues:before {
  content: "\e94c";
}
.icon-sa-skills:before {
  content: "\e94d";
}
.icon-sa-conv-logs:before {
  content: "\e94e";
}
.icon-sa-deloyment:before {
  content: "\e94f";
}
.icon-sa-wait-experience:before {
  content: "\e950";
}
.icon-sa-flows:before {
  content: "\e951";
}
.icon-sa-agent-status:before {
  content: "\e952";
}
.icon-sa-role-managment:before {
  content: "\e953";
}
.icon-sa-goto-flow:before {
  content: "\e911";
}
.icon-sa-call-transfer:before {
  content: "\e912";
}
.icon-sa-delete:before {
  content: "\e913";
}
.icon-sa-agent:before {
  content: "\e914";
}
.icon-sa-automation:before {
  content: "\e915";
}
.icon-sa-split:before {
  content: "\e916";
}
.icon-sa-authentication:before {
  content: "\e917";
}
.icon-sa-comment:before {
  content: "\e918";
}
.icon-sa-ivr-digital-menu:before {
  content: "\e919";
}
.icon-sa-ivr-menu:before {
  content: "\e91a";
}
.icon-sa-export:before {
  content: "\e91b";
}
.icon-sa-arrow-down:before {
  content: "\e91c";
}
.icon-sa-arrow-left:before {
  content: "\e91d";
}
.icon-sa-arrow-right:before {
  content: "\e91e";
}
.icon-sa-window-maximize:before {
  content: "\e91f";
}
.icon-sa-edit:before {
  content: "\e920";
}
.icon-sa-info:before {
  content: "\e921";
}
.icon-sa-square-bg:before {
  content: "\e922";
}
.icon-sa-check-gray:before {
  content: "\e923";
}
.icon-time:before {
  content: "\e924";
}
.icon-sa-help:before {
  content: "\e925";
}
.icon-sa-check-round:before {
  content: "\e926";
}
.icon-sa-video-play:before {
  content: "\e927";
}
.icon-sa-waves:before {
  content: "\e928";
}
.icon-sa-save:before {
  content: "\e929";
}
.icon-sa-deflect-call:before {
  content: "\e92a";
}
.icon-sa-split-down:before {
  content: "\e92b";
}
.icon-sa-restore:before {
  content: "\e92c";
}
.icon-sa-testing:before {
  content: "\e92d";
}
.icon-sa-round-chat:before {
  content: "\e92e";
}
.icon-sa-minus:before {
  content: "\e92f";
}
.icon-sa-testing-icon:before {
  content: "\e930";
}
.icon-sa-publish:before {
  content: "\e931";
}
.icon-sa-common-properties:before {
  content: "\e932";
}
.icon-sa-message:before {
  content: "\e933";
}
.icon-sa-round-check:before {
  content: "\e934";
}
.icon-sa-minimize:before {
  content: "\e935";
}
.icon-sa-service-node:before {
  content: "\e936";
}
.icon-sa-script-node:before {
  content: "\e937";
}
.icon-sa-search:before {
  content: "\e938";
}
.icon-sa-list:before {
  content: "\e939";
}
.icon-sa-grid:before {
  content: "\e93a";
}
.icon-sa-sort:before {
  content: "\e93b";
}
.icon-sa-close:before {
  content: "\e93c";
}
.icon-sa-play:before {
  content: "\e93d";
}
.icon-sa-chat:before {
  content: "\e93e";
}
.icon-sa-call:before {
  content: "\e93f";
}
.icon-sa-onboarding:before {
  content: "\e940";
}
.icon-sa-elipse:before {
  content: "\e941";
}
.icon-sa-union:before {
  content: "\e942";
}
.icon-sa-bottasks:before {
  content: "\e943";
}
.icon-sa-warning:before {
  content: "\e944";
}
.icon-sa-time:before {
  content: "\e945";
}
.icon-sa-connections:before {
  content: "\e946";
}
.icon-sa-settings:before {
  content: "\e947";
}
.icon-sa-start-point:before {
  content: "\e948";
}
.icon-sa-end-flow:before {
  content: "\e949";
}
.icon-sa-survey:before {
  content: "\e94a";
}
.icon-sa-bulk:before {
  content: "\e910";
}
.icon-sa-sort-double:before {
  content: "\e90f";
}
.icon-sa-key:before {
  content: "\e908";
}
.icon-sa-close-cross:before {
  content: "\e909";
}
.icon-sa-clone:before {
  content: "\e90a";
}
.icon-sa-downarrow:before {
  content: "\e90b";
}
.icon-sa-inforound:before {
  content: "\e90c";
}
.icon-sa-filter:before {
  content: "\e90d";
}
.icon-sa-download:before {
  content: "\e90e";
}
.icon-sa-icon-comment:before {
  content: "\e900";
}
.icon-sa-icon-authentication:before {
  content: "\e901";
}
.icon-sa-icon-split:before {
  content: "\e902";
}
.icon-sa-icon-automation:before {
  content: "\e903";
}
.icon-sa-icon-agent:before {
  content: "\e904";
}
.icon-sa-conv-input:before {
  content: "\e905";
}
.icon-sa-icon-ivr-digital-menu:before {
  content: "\e906";
}
.icon-sa-icon-ivr-menu:before {
  content: "\e907";
}